.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}


.card.cc-preview {
  transition: 1s;
  * {
    transition: 1s;
  }
  .card-body {
    h4 {
      font-size: 1.3rem;
    }
    p.card-text {
      color: $body-color;
    }
  }
  
  .card-footer {
    color: $text-muted;
    i {
      color: $green;
      margin-right: $spacer / 2;
      &:not(:first-child) {
        margin-left: $spacer;
      }
    }
  }
  &:not(.placeholder) {
    cursor: pointer;

    &:hover {
      border-color: $link-color;
      .card-body {
        h4 {
          color: $link-color;
        }
        p.card-text {
          color: $link-hover-color;
          &.text-muted {
            color: $link-color !important;
          }
        }
        .badge {
          background-color: $link-hover-color;
        }
      }
      .card-footer {
        color: $link-color;
        i {
          color: $link-hover-color;
        }
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: $spacer;
  }
}